name: Deploy Pipeline
on:
  push:
    branches:
      - main
jobs:
  push-to-registry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker build . -t gbrandrea/pyhon-cicd-kata:latest
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - run: docker push gbrandrea/imagenci:latest

  deploy:
    needs: push-to-registry
    runs-on: ubuntu-latest
    steps:
      - run: curl -X GET "${{ secrets.RENDER_DEPLOY_HOOK }}"
