name: Pull request test code quality
run-name: ${{ github.workflow }} - PR #${{ github.event.pull_request.number }}
on:
  pull_request:
    branches:
      - main
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
          
      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --all-extras --dev
        shell: bash

      - name: Run unit tests
        run: uv run pytest
        shell: bash
